*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
}
ul{
  /* ازالة النقطة للرابط*/
  list-style: none;
}
a {
  /* ازالة الخط تحت الرابط*/
  text-decoration: none;
  
}
.container {
  /* عرض الصفحة الثانية*/
  max-width: 1100px;
  margin: auto;
}
/* utility classes*/
.primary-text{
  /* لون السبان*/
  color: #e4b95b;
}
.btn {
  display: inline-block;
  padding: 15px 30px ;
  border: none;
  border-radius: 15px;
}
.btn-primary{
  /* للزر الي في صفحة 1*/
  color: #fff;
  border: 1px solid #fff;
}
.btn-secondary {
  /* زر الصفحة 2*/
  color: #fff;
  background: #383848;
  margin-top: 2rem;
}
.btn-primary:hover,
.btn-secondary:hover{
  /* عند الضغط تصبح اصفر*/
  background: #e4b95b;
}
/*header start */
header {
  /* حجم الصفحة والخلفية للصفحة1*/
  height: 100vh;
  background: url("home_bg.jpeg")  center center/cover no-repeat ;
  position: relative;
}
#navbar{
  display: flex;
  /* مكان الكلمات الفوق*/
  justify-content: space-between;
  align-items:center ;
}
#navbar img{
  width: 80px;
  margin-left: 100px;
}
#navbar ul {
  /* وضغ الكلمات الرئيسية في الاعلى بجنب بعض*/
  display: flex;
  margin-right: 100px;
}
#navbar ul li a {
  /* وضع فراغات بين الكلمات الرئيسية*/
  padding: 15px 20px;
  color: #fff;
  font-weight: 600;
}
#navbar ul li a:hover{
  /* عند الضغط على الكلمة الرئيسية يوضع تحتها خط */
  border-bottom: 2px solid #e4b95b;
}
header .content {
  /*صفحة2 تحت الرئيسي الكلمات الي تحت نخليهن جنب بعض*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
}
header .content h1{
  /* تكبير حجم العنوان للصفحة الاول*/
  font-size: 40px;
  color: #fff;
}
header .content p{
  /* لون الخط*/
  /* تكبير حجم الخط للصفحة 1*/
  margin: 20px 0 40px;
  color: #fff;
}
header::before{
  /*للشفافية*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.6);
}
header *{
  /* اي محتوى في الهدر فوق الشفافية*/
  z-index: 10;
}
/*header end*/
/* About start*/
#about {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}
#about .title, 
#offers .title, 
#menu .title {
  /* العنوان للصفحات */
  text-align: center;
  margin-bottom: 4rem;
}
#about h2,
#offers h2, 
#menu h2, 
#gallery h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
#about h2, 
#menu h2 {
  color: #383848;
}
#about .title p,
#menu .title p {
  font-size: 14px;
  color: #9a9a9a;
  font-weight: 600;
}
#about .about-content{
  display: flex;
  justify-content: space-between;
  
}
#about .about-content img {
  width: 450px;
}
#about .about-content p {
  /*مسافة كلام الصفحة 2*/
  color: #9a9a9a;
  margin-right: 7rem;
  font-weight: 500;
  line-height: 1.6;
}
/* About End*/
/* Offers start*/
#offers {
  height: 80vh;
  display: flex;
  justify-content: center;
  background: url("offer-background.jpg") center center/cover fixed;
}
#offers h2 {
  color: #e4b95b;
}
#offers .title p {
  color: #fff;
  font-weight: 500;
}
#offers .offers-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  
}
#offers .offers-items img {
  width: 200px;
}
#offers .offers-items h3 {
  font-size: 25px;
  margin: 15px 0;
  
}
#offers .offers-items p{
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
#offers .offers-items span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  
}
/* Offers End*/
/* Menu Start */
#menu {
  background: #f4f4f4;
  padding: 5rem 0;
  
}
#menu .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#menu .menu-items .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  
}
#menu .menu-items .menu-item img {
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
#menu .menu-items .menu-item h3 {
  color: #383848;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
#menu .menu-items .menu-item span {
  position: absolute;
  top: 0;
  right: 0;
}
#menu .btn {
  display: block;
  margin: 20px auto 0;
  background: #e4b95b;
  color: #fff;
  cursor: pointer;
}
#menu .btn:hover {
  background: #383848;
}
/* Menu End*/
/* Daytime Start*/
#daytime {
  background: url("daytime_bg.jpeg") center center/cover fixed no-repeat;
  color: #fff;
  text-align: center;
}
#daytime .daytime-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  
}
#daytime .daytime-items h3 {
  font-size: 32px;
  margin: 20px 0 10px;
}
#daytime .daytime-items p {
  font-weight: 500;
}
/* Daytime End*/
/* Gallery Start*/
#gallery {
  background: url("offer-background.jpg") center center/cover no-repeat;
  padding: 8rem 0 6rem;
}
#gallery h2 {
  color: #fff;
  text-align: center;
  
}
#gallery .img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#gallery .img-gallery img {
  width: 280px;
  height: 200px;
  border-radius: 15px;
  margin: 20px;
  opacity: 0.8;
}
#gallery .img-gallery img:hover {
  opacity: 1;
}

/* Gallery Ens*/
/* Contact Start*/
#contact {
  padding: 5rem 0;
  background: #f4f4f4;
}
#contact .container {
  max-width: 900px;
}
#contact .contact-contect {
  display: flex;
  justify-content: soace-evenly;
  align-items: center
}
#contact .contact-contect .contact-info {
  width: 50%;
}
#contact .contact-contect .contact-info div {
  margin: 30px 0;
  line-height: 1.7;
}
#contact .contact-contect .contact-info h3 {
  font-size: 28px;
  color: #383848;
  margin-bottom: 10px;
  
}
#contact .contact-contect .contact-info p {
  color: #9a9a9a;
}
#contact .contact-contect .contact-info i {
  color: #e4b95b;
  margin-right: 5px;
}
#contact .contact-contect .contact-info a i, #07{
  color: #ffff;
  background-color: #383848;
  padding: 15px
  border-radius: 50%;
  font-size: 20px;
}
#contact .contact-contect .contact-info a i:hover, #07{
  background: #e4b95b;
  color: #383848;
}
form {
  width: 50%;
}
form input,
textarea{
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}
#contact .btn {
  background: #e4b95b;
  color: #fff;
}
#contact .btn:hover{
  background-color: #383848;
}
/* Contact End*/
/* Footer start*/
#footer {
  background: #383848;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}
#footer a {
  color: #fff;
}
/* Footer End*/
/*tablet star */
/*tablet star */
@media (max-width: 1000px) {
  #navbar img {
    margin-left: 20px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav ul li a {
    padding: 10px;
  }
  header .content h1 {
    font-size: 28px;
  }
  #about {
    height: auto;
    padding: 4rem 2rem;
  }
  #about .about-content p {
    margin-right: 2rem;
  }
  #about img {
    width: 250px;
  }
  #offers .offers-items img {
    width: 150px;
  }
  #offers .offers-items h3 {
    font-size: 10px;
  }
  #menu .menu-items {
    display: block;
  }
  #contact .contact-contect {
    flex-direction: column;
  }
}

/*mobile start*/
@media (max-width: 600px) {
  #navbar {
    flex-direction: column;
  }
  #navbar img {
    margin-bottom: 20px;
  }
  header .content h1 {
    font-size: 18px;
  }
  header .content p {
    font-size: 14px;
  }
  #about .about-content {
    flex-direction: column;
  }
  #about .about-content a {
    margin: 2rem 0;
  }
  #about img {
    margin: auto;
  }
  #offers {
    height: auto;
    padding: 30px 10px;
  }
  #offers .offers-items {
    flex-direction: column;
  }
  #menu .menu-items .menu-item {
    margin: 20px 10px;
  }
  #daytime .daytime-items {
    display: block;
    height: auto;
    padding: 30px 0;
  }
  #daytime .daytime-items .daytime-item {
    margin-top: 20px;
  }
  #contact .contact-info,
  form {
    width: 80%;
  }
      }
